<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.bookcrossingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.example.administrator.bookcrossingapp.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.example.administrator.bookcrossingapp.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.bookcrossingapp.activity.LoginActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.SignUpActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.ExchangeBookDetailsActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.FriendChatActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.ForgetPasswordActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.AgreementActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.SettingActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.SettingAcountActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.UpdatePasswordActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.SearchDetailActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.PosingWantingActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.WantListActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.ShareListActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.PosingShareActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.PosingConfirmActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.ReviewsActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.RecordsActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.SwappingActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.UserDetailActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.ReviewsEditActivity" />
        <activity android:name="com.example.administrator.bookcrossingapp.activity.ReviewsDetailActivity"></activity>
    </application>

</manifest>